@page
@model SimpleHospitalSystem.Pages.Patients.AddPatientModel
@{
    ViewData["Title"] = "NewPatient";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (Model.EditMode == false)
{
    <h1>Add patient</h1>
}
else
{
    <h1>Edit patient</h1>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Patient.Name">Input patient name</label>
        <input class="form-control" placeholder="name" asp-for="Patient.Name" />
        <span class="text-danger" asp-validation-for="Patient.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Patient.Age">Input patient age</label>
        <input class="form-control" placeholder="Age" asp-for="Patient.Age" />
        <span class="text-danger" asp-validation-for="Patient.Age"></span>
    </div>

    @if (Model.EditMode == false)
    {
        <button class="btn btn-primary" type="submit" asp-page-handler="Add" asp-page="AddPatient">Ok</button>
    }
    else
    {
        <input hidden asp-for="EditMode"/>
        <input hidden asp-for="Patient.Id" />
        <input hidden asp-for="Patient.BedId" />
        <button class="btn btn-primary" type="submit" asp-page-handler="Update" asp-page="AddPatient">Ok</button>
    }
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}